In [18]:
# Import pandas
import pandas as pd

In [19]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', delim_whitespace=True)

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [20]:
# Compare the average income based on ethnicity.

# Group data by 'Ethinicity' in rows and select 'Income' column, calculate mean average of numeric data in each column
print(df.groupby('Ethnicity')['Income'].mean(numeric_only=True))

print("The greatest average income is seen in the African American ethinicity, and lowest amongst the Asians.")

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64
The greatest average income is seen in the African American ethinicity, and lowest amongst the Asians.

In [21]:
# On average, do married or single people have a higher balance?

# Group data by 'Married' status in rows and select 'Balance' column, calculate mean average of numerica data in each column
print(df.groupby('Married')['Balance'].mean(numeric_only=True))

print("On average single people have higher balances.")

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64
On average single people have higher balances.

In [22]:
# What is the highest income in our dataset?

# Select all rows and select 'Income' column, locate maximum value in column
highest_income = df.loc[:, 'Income'].max()

print(f"The highest income is {highest_income}.")

The highest income is 186.634.

In [23]:
# What is the lowest income in our dataset?

# Select all rows and select 'Income' column, locate minimum value in column
lowest_income = df.loc[:, 'Income'].min()

print(f"The lowest income is {lowest_income}.")

The lowest income is 10.354.

In [24]:
# How many cards do we have recorded in our dataset?

# Select all rows and select 'Cards' column, sum total data in column
total_cards = df.loc[:, 'Cards'].sum()

print(f"The total cards recorded in the dataset is {total_cards}.")

The total cards recorded in the dataset is 1183.

In [25]:
# How many females do we have information for vs how many males?

# Group data by 'Gender' in rows and select only 'Gender' column, calculate count of data in each column 
print(df.groupby('Gender')['Gender'].count())

print("We have 207 data points for Females, and 193 for Males.")

Gender
Female    207
Male      193
Name: Gender, dtype: int64
We have 207 data points for Females, and 193 for Males.